/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

html {
  font-family: "IM FELL French Canon", serif;
}

body {
  font-family: "IM FELL French Canon", serif;
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

header {
  text-align: center;
  font-family: "Metropolis", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
}

@font-face {
    font-family: 'IM FELL French Canon';
    src: url('src/IM_FELL_French_Canon_Roman.woff2') format('woff2'),
        url('src/IM_FELL_French_Canon_Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('src/Metropolis-Regular.woff2') format('woff2'),
        url('src/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
  text-align: center;
}

h1, h2 {
  font-family: "IM FELL French Canon", serif;
  font-size: 3rem;
}

.indent {
  text-indent: 20px;
}

a {
  outline: none;
}

a:link {
  color: #a66;
  text-decoration: underline;
}

a:visited {
  color: #a66;
  text-decoration: underline;
}

a:focus {
  color: #ff6347;
  text-decoration: none;
}

a:hover {
  color: #d2691e;
  text-decoration: none;
}

a:active {
  color: #8B0000;
  text-decoration: none;
}

.external-link::after {
  content: '';
  margin-left: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('src/external-link-52.png');
  background-size: contain;
  background-repeat: no-repeat;
}

nav li {
  list-style-type: none;
  margin-bottom: 1.4rem;
}

nav li a {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid #a66;
  text-decoration: none !important;
}

nav li a:hover {
  background-color: #d2691e;
  color: #8B0000;
}