/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: "IM FELL French Canon";
  src: url("../src/FeFCrm2.ttf") format("truetype");
}

@font-face {
  font-family: "Metropolis";
  src: url("../src/Metropolis-Regular.otf") format("opentype");
}

p, li {
  font-family: "IM FELL French Canon", serif;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

header {
  text-align: center;
  font-family: "Metropolis", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

h2 {
  font-size: 28px;
}

.indent {
  text-indent: 20px;
}